// Enter any custom Sass in this file
body{
	background: white;
}
header {
	background: #fff url(../img/sdgbg.png) bottom left repeat-x;
	.container {
		padding-top: 20px;
		min-height: 113px;
		.navbar-default {
			border: none;
		}
	}
}

.breadcrumb {
	margin-bottom: 15px;
	a {
		color: darken(#337ab7, 10%);
		// text-decoration: underline;
	}
	&>.active {
		display: inline;
		color: black;
	}
}

body.contrast-high {
	.breadcrumb {
		background: $breadcrumbs-backgroundColor-highContrast;
		li, a {
			color: $breadcrumbs-color-highContrast;
		}
		a:hover {
			color: $color-highlight-highContrast;
		}
		> li + li::before {
			border-color: $breadcrumbs-color-highContrast;
		}
	}
}

@for $i from 1 through length($goal-banner-backgroundColors) {
	$background-c: nth($goal-banner-backgroundColors, $i);
	.goal-#{$i} {
		&.goal-banner {
			background-color: $background-c;
		}
	}
}

.goal-banner {
	h1, p {
		color: white;
	}
	.goal-icon {
		a:focus {
			outline: 6px $focusOutlineColor solid !important;
		}
	}
}

#main-content #selectionChartFooter {
  font-size: 14px;
  line-height: 1.2;
  padding-left: 20px; }
#main-content {
	padding-bottom: 120px;
}
#shareBtnContainer { width: 100%; text-align: center; margin: 0 auto 64px auto; z-index: 1; }
.shareBtn {
	cursor: pointer;
	display: inline-block; clear: none; text-align: center;
	width:36px; height:36px; margin: 4px 4px;
	background-repeat:no-repeat; background-size: 576px 576px !important;
}


.article-share {  right: calc(-100% + 50px);margin: 0;position: fixed;bottom: 300px; opacity: 1; z-index: 1;  }
.article-share ul li ~ li { margin-top: 5px; }
.article-share button { display: block; width: 40px; height: 40px; border-radius: 5px; font-size: 18px; }
.article-share .like { border: 1px solid #ced4da; }
.article-share .like .title { display: block; height: 16px; font-size: 14px; text-align: center; color: #f85265; }
.article-share .like .count { font-size: 14px; line-height: 14px; color: #495057; display: block; }
.article-share .fb { background-color: #486aa1; color: #fff; }
.article-share .tw { background-color: #3eabea; color: #fff; }
.article-share .kt { background-color: #ffe23a; color: #3d1e1e; }
.article-share .ks { background-color: #ffe23a; color: #fff; }
.article-share .bd { background: #33aa47 url("../images/v3/sub/share_bd.png") 50% 50% no-repeat; color: #fff; }
.article-share .bm { background-color: #286dc0; color: #fff; }
.article-share .uc { background-color: #6c757e; color: #fff; font-size: 12px; }
button,input,optgroup,select,textarea { font-family: inherit; font-size: inherit; font-weight:inherit; margin: 0;}
button { border: 0; padding: 0; background: none; cursor: pointer }

@media screen and (max-width: 498px) {
	#shareBtnContainer { width: 200px; }
}
@media screen and (min-width: 1280px) {
	#shareBtnContainer {
		width: 36px; margin: 0;
		position: fixed;
		bottom: 78px; right: calc(50% - 430px - 38px - 160px + 2px);
		opacity: 1;
	}
	.shareBtn { margin: 1px 0; }
}

.shareButton { 
	width: 36px;
	padding: 4px 0px;
	cursor: pointer;
}

@media print {
    a:after {
        content: "" !important;
    }
}
footer {
  height: auto;
}
