#main-content .statuses > div {
	display: inline-block;
	margin-bottom: 5px;
	margin-right: 10px; }
#main-content .statuses > div .status {
	display: inline-block;
	margin-right: 3px;
	padding: 2px 5px;
	border-radius: 4px;
	width: 40px;
	text-align: center;
	font-size: 16px; }
#main-content .statuses > div .status .status-inner {
	padding: 0 2px;
	border-radius: 5px; }
#main-content .statuses > div .status.complete {
	border: 1px solid transparent;
	color: black; }
#main-content .statuses > div .status.complete .status-inner {
	background-color: #5CB85C;

#main-content .statuses > div .status.inprogress {
	border: 1px solid transparent;
	color: white; }
#main-content .statuses > div .status.inprogress .status-inner {
	background-color: #757575; }

#main-content .statuses > div .status.notstarted {
	border: 1px solid #0b0c0c;
	color: #0b0c0c; }
#main-content .statuses > div .status.notstarted .status-inner {
	background-color: white; }

#main-content .statuses > div .status.notapplicable {
	border: 1px solid transparent;
	color: black; }
#main-content .statuses > div .status.notapplicable .status-inner {
	background-color: #B7B7B7; }
