$status-color-complete: $text-color !default;
$status-color-inprogress: $color-light !default;
$status-color-notstarted: $text-color !default;
$status-color-notapplicable: $text-color !default;
$status-backgroundColor-complete: #5CB85C !default;
$status-backgroundColor-inprogress: #757575 !default;
$status-backgroundColor-notstarted: white !default;
$status-backgroundColor-notapplicable: #B7B7B7 !default;
$status-backgroundColor-inner-complete: $status-backgroundColor-complete !default;
$status-backgroundColor-inner-inprogress: $status-backgroundColor-inprogress !default;
$status-backgroundColor-inner-notstarted: $status-backgroundColor-notstarted !default;
$status-backgroundColor-inner-notapplicable: rgba(255, 255, 255, 0.8) !default;

$status-color-complete-highContrast: $color-dark-highContrast !default;
$status-color-inprogress-highContrast: $color-light-highContrast !default;
$status-color-notstarted-highContrast: $color-light-highContrast !default;
$status-color-notapplicable-highContrast: $color-dark-highContrast !default;
$status-backgroundColor-complete-highContrast: $color-light-highContrast !default;
$status-backgroundColor-inprogress-highContrast: $color-medium-highContrast !default;
$status-backgroundColor-notstarted-highContrast: $color-dark-highContrast !default;
$status-backgroundColor-notapplicable-highContrast: $status-backgroundColor-notapplicable !default;
$status-backgroundColor-inner-complete-highContrast: $status-backgroundColor-complete-highContrast !default;
$status-backgroundColor-inner-inprogress-highContrast: $status-backgroundColor-inprogress-highContrast !default;
$status-backgroundColor-inner-notstarted-highContrast: $status-backgroundColor-notstarted-highContrast !default;
$status-backgroundColor-inner-notapplicable-highContrast: $status-backgroundColor-notapplicable-highContrast !default;
